#search {
    background-color: white;
    border-style: solid;
    border-color: gray;
    border-radius: 10px;
    
} 

#searchbar {
    font-size: 25px;
    border: none;
    
}

#searchbar:focus {
    outline: none;

}